<h1><%= @video.title %></h1>

<% @video.attributes.each do |key, value| %>
  <p><strong><%= key %></strong> <%= value %></p>
<% end %>

<strong>associated users</strong>
<ul>
  <%= render @video.users %>
</ul>
